@import 'mixins';

.gallery {
    min-height: 100vh;
    background-color: #ffe92f;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    &__h2 {
        font-size: 9rem;
        font-weight: 700;
        margin: 0;
        padding: 80px 0 20px 0;
    }
    &__p {
        font-size: 1.7rem;
        font-weight: 300;
        max-width: 630px;
        margin: 0 auto;
        line-height: 1.6;
        margin-bottom: 40px;
    }
    .picture {
        display: block;
        padding: 10px;
    }
    .picture__img {
        max-width: 100%;
        max-height: 100%;
    }
    &__pictures--twoo {
        display: flex;
    }
    &__pictures--three {
        display: flex;
    }
}