@import 'mixins';

.gallery {
    min-height: 100vh;
    background-color: #ffe92f;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    &__h2 {
        font-size: 9rem;
        font-weight: 700;
        margin: 0;
        padding: 80px 0 20px 0;
    }
    &__p {
        font-size: 1.7rem;
        font-weight: 300;
        max-width: 630px;
        margin: 0 auto;
        line-height: 1.6;
        margin-bottom: 40px;
    }
    &__pictures {
        overflow: hidden;
    }
    &__pictures--three {
        display: flex;
    } 
    &__picture--lg {
        max-width: 66.6%;
        width: 100%;
        position: relative;
        overflow: hidden;
    }
    &__picture-lg {
        @include pCenter;
        padding-top: 71%;
    }
    .gallery__pictures--one-sm {
        width: 100%;
        max-width: 33.3%;
        padding-top: 71%;
        position: relative;
        overflow: hidden;
    }
    .gallery__picture-small-one {
        @include pCenter;
    }
    .gallery__pictures--one-sm {
        width: 33.3%;
        position: relative;
    }
    .gallery__picture-small-twoo {
        // @include pCenter;
    }
    &__picture-img {
        width: 100%;
        overflow: hidden;
    }
    &__pictures--twoo {
        display: flex;
    }
}