@import 'mixins';

.gallery {
    min-height: 100vh;
    background-color: #ffe92f;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    &__h2 {
        font-size: 9rem;
        font-weight: 700;
        margin: 0;
        padding: 80px 0 20px 0;
    }
    &__p {
        font-size: 1.7rem;
        font-weight: 300;
        max-width: 51%;
        margin: 0 auto;
        line-height: 1.6;
        margin-bottom: 4rem;
    }
    &__pictures {
        padding-bottom: 5rem;
        display: flex;
        flex-wrap: wrap;
    }
    &__photo {
        padding: .9em;
        overflow: hidden;
        img {
            box-shadow: 0 4px 10px rgba($color: #000000, $alpha: .5);
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
        }
    }
    &__lg {
        max-width: 66.67%;
    }
    &__pictures-sm {
        max-width: 33.33%;
    }
    &__pictures--twoo {
        max-width: 50%;
    }
}