.our-services {
    background: url(../img/our-services.jpg) 0 0/cover no-repeat;
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    &__items {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        margin: 20px 0;
        font-size: 2rem;
        background-color: #fff;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    } 
    &__item-text {
        padding: 30px;
        width: 300px;
        text-align: center;
        border-right: 2px solid #000;
    }   
    &__item-svg {
        padding: 0 20px;
        min-width: 100px;
    }
    &__text {
        font-size: 9rem;
        color: #fff;
        margin-top: 150px;
    }
}