@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@400;500&family=Roboto:wght@900&display=swap');

$text-ff: 'Raleway', sans-serif;

$border-width: 2px;

$border: $border-width solid $primary-color;