@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@400;500&family=Roboto:wght@900&display=swap');

$text-ff: 'Raleway', sans-serif;

$text-color: #262626;

$border-width: 2px;