@import 'normalize';
@import 'mixins';
@import 'our-services';
@import 'gallery';
@import 'subscribe';
@import 'contact';
@import 'footer';
@import 'blog.scss';
@import 'about-us';
@import 'navi';


* {
    box-sizing: border-box;
}

a, button {
    transition: all .3s ease-in-out 
}

html {
    font-family: $text-ff;
    font-size: 10px;
    scroll-behavior: smooth;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.cahee {
    background: url(../img/header-bgc.jpg) 0 0/cover no-repeat;
    min-height: 100vh;
    position: relative;
    &__header {
        display: flex;
        justify-content: space-between;
    }
    &__p {
        font-size: 5rem;
        margin: 50px 0 40px;
        font-family: 'Pacifico', cursive;
        font-weight: 400;
        @media screen and (max-width: 992px) {
            margin: 25px 0 20px;
        }
        @media screen and (max-width: 576px) {
            font-size: 4rem;
            margin: 20px 0;
        }
    }
    &__scroll {
        position: absolute;
        bottom: 20px;
        left: 50%;
    }
    &__content {
        padding-bottom: 50px;
        font-family: 'Raleway', sans-serif;
        @media screen and (max-width: 992px) {
            margin: 0 auto;
            text-align: center;
        }
    }
    &__name {
        font-size: 6rem;
        font-weight: 900;
        margin: 115px 0px 30px;
        @media screen and (max-width: 576px) {
            font-size: 5rem;
            margin: 60px 0 30px;
        }
    }
    &__text {
        font-weight: 400;
        font-size: 1.7rem;
        max-width: 370px;
        margin: 30px auto;
    }
    &__button {
        width: 200px;
        height: 60px;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 300;
        background-color: #ff6033;
        color: #fff;
        border: 0;
    }
    &__button:hover,
    &__button:focus,
    &__button:active {
        cursor: pointer;
        box-shadow: 0 3px 5px 3px rgba(0,0,0, .5);
        transition: all .5s;
    }
}